name: Docker Hub

on:
  push:

jobs:
  build_frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build frontend image
        run: docker image build --tag dockerfile .

      - name: Push frontend image
        uses: elgohr/Publish-Docker-Github-Action@2.14
        with:
          name: image
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
